body , textarea , input {
	font:14px "Roboto";
}
.chat {
	height:100%;
	width:100%;
}
.printchatbox {
	height:100%;
	width:100%;
	position: absolute;
	box-sizing: border-box;
	overflow-x: hidden;
}
.chat-messages, .chat-name {
	margin-left: -6px !important;
}
.chat-messages {
	width:100%;
	height:300px;
	overflow-y: auto;
	padding: 8px;
	height:80%;

}

.caret {
width: 0;
height: 0;
border-style: solid;
border-width: 5px 0 5px 10px;
border-color: transparent transparent transparent #007bff;

  }
.clear {
	clear:both;
}

.chat-message-left {
	margin-top: 10px; 
	font-size: 14px;
	max-width: 75%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	background: #e6eef4;
  	float: left;
  	padding: 10px 15px;
  	text-align: left;
    -moz-border-radius: 0 1em 1em 0;
    -webkit-border-radius: 0;
    border-radius: 4px;
    color:#444;
    margin-left:58px;
    display: inline-block;
	position: relative;
}
.chat-message-left:after {
	content: '';
	display: block;  
	position: absolute;
	right: 100%;
	top: 50%;
	margin-top: -10px;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-right: 10px solid #e6eef4;
	border-bottom: 9px solid transparent;
	border-left: 10px solid transparent;
}
.chat-message-right {
	margin-top: 5px;
	font-size: 14px;
	float : right;	
	max-width:75%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	background: #0074b0;
  	color: #fff;
  	float: right;
  	padding: 10px 15px;
    -moz-border-radius: 1em 0 0 1em;
    -webkit-border-radius: 1em;
    border-radius: 4px;
    margin-right: -8px;
    margin-right : 5px;
    display: inline-block;
	position: relative;
  
}
.chat-message-right:after {
	content: '';
	display: block;  
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -10px;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 8px solid #0074B0;
}

.sender {
	color: black !important;
	font-weight: bold !important;
}

.chat-text-area {
	width:94%;
	padding:8px;
	margin:0; 
	max-width: 94%;
	background: white;
	resize: none; 
	border: 2px solid #dadada;
    border-radius: 7px;
}
.chat-text-area:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
.chat-status {
	color:#bbb;
	padding: 5px;
}
#chat
 {
 position:absolute;
 height:auto;
 padding:10px;
 color:#EDEDED;
 text-align:center;
 font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
 font-size:20px;
 bottom:0px;
 right:15px;
 cursor:pointer;


 }
 #chatBox
 {
 display:none;
 position:fixed;
 width:325px;
 height:100%;
 padding:8px;
 background:#fafafb;
 /*color:#FF7700;*/
 /*text-align:center;*/
 /*font-family:Cambria;*/
 /*font-size:20px;*/
 bottom:0px;
 right:15px;
 cursor:pointer;
 box-shadow: 0 0 2px 2px #c5c5c5;

 }
 #close
 {
 position:absolute;
 width:100%;
/* padding:0px 5px 10px 3px;*/
/* background:rgba(0,0,0,0.8);*/
margin-left: -8px;
margin-bottom: 15px;
font-size: 18px;
 color:#F44336;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
/* right:8px;top:5px;*/
 float: right;
 z-index: 2147483002;
 box-shadow: 0 1px 2px 0 rgba(0,0,0,.30);
 background: #fff;
 overflow: hidden;
 position: absolute;
 top: 0;
 right: 0;
 height: 48px;
 }
 #chatinput { 
position: absolute;
right:0;
bottom:0;
width:inherit;
 }
.topline {
	 background:white;
}
.chat-heading {
	text-align: center;
	padding-top : 12px;
	color : black;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-size: 17px !important;
}
.x {
	text-align: right;
	margin-top: -19px;
	font-size: 18px;
	color : #6B6B79;
	padding-right:10px;
}
.blue {
	background-color: #0074B0;
	border : 1px solid #004c88;
}
.profile {
	float: left;
    width: 45px;
    height: 45px;
    background: #eee;
    border-radius: 25px;
    text-align: center;
    border-radius: 25px;
    padding-top: 7px;
    position: absolute;
    left: -57px;
    top: -3px;
}
.profile-img {
	width: 30px;
}