body , textarea , input {
	font:14px "Roboto";
}
.chat {
	height:100%;
	width:100%;
}
.printchatbox {
	height:100%;
	width:100%;
	position: absolute;
}
.chat-messages, .chat-text-area, .chat-name {
	border : 3px solid #1C2F65;
	margin-left: -6px !important;
}
.chat-messages {
	width:94%;
	height:300px;
	overflow-y: auto;
	padding: 8px;
	height:80%;
}
.clear {
	clear:both;
}

.chat-message-left {
	margin-bottom: 10px;
	font-size: 16px;
	color : #088A68;
	float : left;	
	max-width: 75%;
}
.chat-message-right {
	margin-bottom: 10px;
	font-size: 16px;
	color : #1C2F65;
	float : right;	
	max-width:75%;
}
.sender {
	color: black !important;
	font-weight: bold !important;
}

.chat-text-area {
	width:94%;
	padding:8px;
	border-top:0;
	margin:0; 
	max-width: 94%;
}
.chat-status {
	color:#bbb;
	padding: 5px;
}
#chat
 {
 position:absolute;
 width:200px;
 height:auto;
 padding:10px;
 background:#088A68;
 color:#EDEDED;
 text-align:center;
 font-family:Cambria;
 font-size:20px;
 bottom:0px;
 right:15px;
 cursor:pointer;
 }
 #chatBox
 {
 display:none;
 position:fixed;
 width:325px;
 height:97%;
 padding:8px;
 background:#EDEDED;
 /*color:#FF7700;*/
 /*text-align:center;*/
 /*font-family:Cambria;*/
 /*font-size:20px;*/
 bottom:0px;
 right:15px;
 cursor:pointer;

 }
 #close
 {
 position:absolute;
 width:15px;
 height:15px;
 padding:6px 5px 10px 5px;
 text-align:center;
 background:rgba(0,0,0,0.8);
 color:#FF7700;
 font-family:Cambria;
 right:0px;top:0px;
 }
 #chatinput { 
position: absolute;
right:0;
bottom:0;
width:inherit;
 }